body {
  background-color: black;
}

.item, #infoTable {
  font-size: 3rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #2d2d2d;
  color: #999999;
  border: 0.2rem solid #999999;
}

.item:focus {
  background-color: #4d4d4d;
  color: white;
  border: 0.2rem solid white;
}

.clicked {
  background-color: black;
  color: #59c688;
  border: 0.2rem solid white;
}

.clicked:focus {
  color: #59c688;
}

#container {
  width: 97vw;
  height: 95vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

#header {
  height: 12vh;
  gap: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header .item {
  width: 13rem;
}

#mainContainer {
  height: 82vh;
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
}

#side {
  width: 15vw;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 1rem;
}

#side .item {
  height: 2.5rem;
  line-height: 2.5rem;
}

.main {
  padding: 1rem;
  gap: 1rem;
  border-radius: 5px;
  background-color: #171717;
  flex-grow: 1;
  overflow: auto;
}

.main .item {
  width: 20rem;
  height: 18rem;
  line-height: 18rem;
}

#main1 {
  display: flex;
  flex-wrap: wrap;
}

#main2 {
  display: none;
}

#main3 {
  display: none;
}

#infoTable {
  width: 100%;
  table-layout: auto;
}

td {
  text-align: left;
  color: #d4d3d3;
  padding: 1rem;
  padding-left: 2rem;
  border-radius: 1rem;
  background-color: #171717;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2rem grey;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}